:root {
  --toastify-toast-width: 380px;
}

.h-full {
  height: calc(100vh - 175px);
}

.Toastify__toast-container--bottom-center {
  bottom: 50px;
}

code, pre {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 8px;
}

pre {
  padding: 15px 10px;
  margin: 10px 0 !important;
  width: 470px;
  max-width: 100%;
  overflow: auto;
}

@media screen and (max-width: 480px) {
  pre {
    width: 270px;
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .h-full {
    height: calc(100vh - 115px);
  }
}